<aside class="z-20 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0">
    <div class="py-4 text-gray-500 dark:text-gray-400">
      <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200" href="">
        <img src="/static/img/Perflect.png" alt="Perflect Logo" class="inline-block h-6 w-6 mr-2">
        
        Perflect
      </a>

      <ul class="mt-6">
        <li class="relative px-6 py-3">

          <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
            href="/">
            <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
              <path
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
              </path>
            </svg>
            <span class="ml-4">Dashboard</span>
          </a>
        </li>
      </ul>
      <ul>
        <li class="relative px-6 py-3">
          <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
             href="/analytics">
            <span class="menu-icon">
              <i class="mdi mdi-chart-line" style="font-size: 19px;"></i>
            </span>
            <span class="ml-4">Analytics</span>
          </a>
        </li>
      
        <li class="relative px-6 py-3">
          <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
             href="/ports">
            <span class="menu-icon">
              <i class="mdi mdi-lan" style="font-size: 19px;"></i>
            </span>
            <span class="ml-4">Ports</span>
          </a>
        </li>

      
        <li class="relative px-6 py-3">
          <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
             href="/docker">
            <span class="menu-icon">
              <i class="mdi mdi-docker" style="font-size: 19px;"></i>
            </span>
            <span class="ml-4">Docker</span>
          </a>
        </li>
      
        <li class="relative px-6 py-3">
          <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
             href="/processes">
            <span class="menu-icon">
              <i class="mdi mdi-format-list-bulleted" style="font-size: 19px;"></i>
            </span>
            <span class="ml-4">Processes</span>
          </a>
        </li>
      

      
        <li class="relative px-6 py-3">
          <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
             href="/startups">
            <span class="menu-icon">
              <i class="mdi mdi-cog" style="font-size: 19px;"></i>
            </span>
            <span class="ml-4">Startups</span>
          </a>
        </li>
      
        <li class="relative px-6 py-3">
          <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
             href="/openvpn">
            <span class="menu-icon">
              <i class="mdi mdi-vpn" style="font-size: 19px;" aria-hidden="true"></i>
            </span>
            <span class="ml-4">OpenVPN</span>
          </a>
        </li>
      </ul>
      

    </div>
  </aside>
  <!-- Mobile sidebar -->
   <!-- Backdrop -->
  <div x-show="isSideMenuOpen" x-transition:enter="transition ease-in-out duration-150"
    x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
    x-transition:leave="transition ease-in-out duration-150" x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
    class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"></div>
  <aside class="fixed inset-y-0 z-20 flex-shrink-0 w-64 mt-16 overflow-y-auto bg-white dark:bg-gray-800 md:hidden"
    x-show="isSideMenuOpen" x-transition:enter="transition ease-in-out duration-150"
    x-transition:enter-start="opacity-0 transform -translate-x-20" x-transition:enter-end="opacity-100"
    x-transition:leave="transition ease-in-out duration-150" x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0 transform -translate-x-20" @click.away="closeSideMenu"
    @keydown.escape="closeSideMenu">
    <div class="py-4 text-gray-500 dark:text-gray-400">
      <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200" href="">
        Perflect
      </a>
      <ul class="mt-6">
        <li class="relative px-6 py-3">

          <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
            href="/">
            <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
              <path
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
              </path>
            </svg>
            <span class="ml-4">Dashboard</span>
          </a>
        </li>
      </ul>
      <ul>
        <li class="relative px-6 py-3">
          <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
             href="/analytics">
            <span class="menu-icon">
              <i class="mdi mdi-chart-line" style="font-size: 19px;"></i>
            </span>
            <span class="ml-4">Analytics</span>
          </a>
        </li>
      
        <li class="relative px-6 py-3">
          <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
             href="/ports">
            <span class="menu-icon">
              <i class="mdi mdi-lan" style="font-size: 19px;"></i>
            </span>
            <span class="ml-4">Ports</span>
          </a>
        </li>
      
        <li class="relative px-6 py-3">
          <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
             href="/scripts">
            <span class="menu-icon">
              <i class="mdi mdi-code-tags" style="font-size: 19px;"></i>
            </span>
            <span class="ml-4">Scripts</span>
          </a>
        </li>
      
        <li class="relative px-6 py-3">
          <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
             href="/docker">
            <span class="menu-icon">
              <i class="mdi mdi-docker" style="font-size: 19px;"></i>
            </span>
            <span class="ml-4">Docker</span>
          </a>
        </li>
      
        <li class="relative px-6 py-3">
          <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
             href="/processes">
            <span class="menu-icon">
              <i class="mdi mdi-format-list-bulleted" style="font-size: 19px;"></i>
            </span>
            <span class="ml-4">Processes</span>
          </a>
        </li>
      
        <li class="relative px-6 py-3">
          <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
             href="/traffic">
            <span class="menu-icon">
              <i class="mdi mdi-traffic-light" style="font-size: 19px;"></i>
            </span>
            <span class="ml-4">Traffic</span>
          </a>
        </li>
      
        <li class="relative px-6 py-3">
          <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
             href="/startups">
            <span class="menu-icon">
              <i class="mdi mdi-cog" style="font-size: 19px;"></i>
            </span>
            <span class="ml-4">Startups</span>
          </a>
        </li>
      
        <li class="relative px-6 py-3">
          <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
             href="/openvpn">
            <span class="menu-icon">
              <i class="mdi mdi-vpn" style="font-size: 19px;" aria-hidden="true"></i>
            </span>
            <span class="ml-4">OpenVPN</span>
          </a>
        </li>
      </ul>

    </div>
  </aside>