<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="icon" type="image/png" href="/static/img/Perflect.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/Perflect.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/img/Perflect.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/Perflect.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/Perflect.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/img/Perflect.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/img/Perflect.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/img/Perflect.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/img/Perflect.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/Perflect.png">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/tailwind.output.css" />
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <script src="/static/js/init-alpine.js"></script>
  <link href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/main.css" />
  <link rel="stylesheet" href="/static/css/scroll.css" />
  <script src="/static/js/script.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen}">
    {% include 'includes/sidebar.html' %}
    <div class="flex flex-col flex-1">
      {% include 'includes/header.html' %}
      <main class="h-full pb-16 overflow-y-auto">
        <div class="container px-6 mx-auto grid" :class="{ 'bg-white': !dark, 'bg-gray-900': dark, 'text-black': !dark, 'text-white': dark }">
          <div class="container mx-auto p-6">
            <h1 class="text-3xl font-bold mb-6" :class="{ 'text-gray-800': !dark, 'text-white': dark }">Server Overview</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
              <section class="p-6 border border-gray-200 rounded-lg shadow-sm pulse-animation">
                <h6 class="text-2xl font-semibold mb-4">System Uptime</h6>
                <p id="uptime"></p>
              </section>
              <section class="p-6 border border-gray-200 rounded-lg shadow-sm pulse-animation">
                <h6 class="text-2xl font-semibold mb-4">Firewall</h6>
                <p id="firewall"></p>
              </section>
              <section class="p-6 border border-gray-200 rounded-lg shadow-sm pulse-animation">
                <h6 class="text-2xl font-semibold mb-4">CPU Usage</h6>
                <p id="cpu"></p>
                <div id="cpuUsageChart" class="w-full h-48 mt-4"></div>
              </section>
              <section class="p-6 border border-gray-200 rounded-lg shadow-sm pulse-animation">
                <h6 class="text-2xl font-semibold mb-4">Memory Usage</h6>
                <p id="memory"></p>
                <div id="memoryUsageChart" class="w-full h-48 mt-4"></div>
              </section>
              <section class="p-6 border border-gray-200 rounded-lg shadow-sm pulse-animation">
                <h6 class="text-2xl font-semibold mb-4">Disk Space</h6>
                <p id="disk"></p>
                <div id="diskUsageChart" class="w-full h-48 mt-4"></div>
              </section>
              <section class="p-6 border border-gray-200 rounded-lg shadow-sm pulse-animation">
                <h6 class="text-2xl font-semibold mb-4">Network Activity</h6>
                <div id="networkTrafficChart" class="w-full h-48 mt-4"></div>
              </section>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <script>
    function toggleTheme() {
      const darkMode = document.documentElement.classList.toggle('theme-dark');
      updateChartThemes(darkMode);
    }

    function getTheme() {
      return document.documentElement.classList.contains('theme-dark');
    }

    function updateChartThemes(isDarkMode) {
      Highcharts.charts.forEach(chart => {
        chart.update(getChartConfig(chart.options.title.text, chart.series[0].data, chart.yAxis[0].title.text));
      });
    }

    async function fetchSystemData() {
      try {
        const response = await fetch("/api/system-data");
        const data = await response.json();

        document.querySelector("#uptime").textContent = data.current_data.uptime;
        document.querySelector("#firewall").textContent = data.current_data.firewall_status;
        document.querySelector("#cpu").textContent = `${data.current_data.cpu_usage.current}% | Peak: ${data.current_data.cpu_usage.peak}% | Load: ${data.current_data.cpu_usage.load.join(" / ")}`;
        document.querySelector("#memory").textContent = `${data.current_data.memory_usage.used} GB / Total: ${data.current_data.memory_usage.total} GB`;
        document.querySelector("#disk").textContent = `${data.current_data.disk_usage.used} GB / Total: ${data.current_data.disk_usage.total} GB`;

        updateCharts(data.current_data, data.historical_data);

        const sections = document.querySelectorAll('.pulse-animation');
        sections.forEach(section => section.classList.remove('pulse-animation'));
      } catch (error) {
        console.error("Error fetching system data:", error);
      }
    }

    function updateCharts(currentData, historicalData) {
      const cpuUsageChart = Highcharts.chart('cpuUsageChart', getChartConfig('CPU Usage Over Time', getChartData(historicalData, 'cpu_usage'), 'CPU Usage'));
      cpuUsageChart.series[0].addPoint(getChartData(historicalData.slice(-1), 'cpu_usage')[0], true, true);

      const memoryUsageChart = Highcharts.chart('memoryUsageChart', getChartConfig('Memory Usage Over Time', getChartData(historicalData, 'memory_usage'), 'Memory (GB)'));
      memoryUsageChart.series[0].addPoint(getChartData(historicalData.slice(-1), 'memory_usage')[0], true, true);

      const diskUsageChart = Highcharts.chart('diskUsageChart', getChartConfig('Disk Usage Over Time', getChartData(historicalData, 'disk_usage'), 'Disk Space (GB)'));
      diskUsageChart.series[0].addPoint(getChartData(historicalData.slice(-1), 'disk_usage')[0], true, true);

      const networkTrafficChart = Highcharts.chart('networkTrafficChart', getChartConfig('Network Traffic', getChartData(historicalData, 'network_activity'), 'Traffic (KB/s)'));
      networkTrafficChart.series[0].addPoint(getChartData(historicalData.slice(-1), 'network_activity')[0], true, true);
    }

    function getChartData(historicalData, field) {
      const last20Data = historicalData.slice(-20);
      return last20Data.map(item => {
        if (field === 'cpu_usage') {
          return item[field].current;
        } else if (field === 'memory_usage') {
          return item[field].used;
        } else if (field === 'disk_usage') {
          return item[field].used;
        } else if (field === 'network_activity') {
          return item[field].inbound / 1024;
        }
      });
    }

    function getChartConfig(title, seriesData, yAxisTitle) {
      const isDarkMode = getTheme();
      const backgroundColor = isDarkMode ? '#191c24' : '#ffffff';
      const textColor = isDarkMode ? '#ffffff' : '#000000';

      const purpleColor = 'rgba(138, 43, 226, 0.8)';
      const fillGradient = {
        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
        stops: [
          [0, 'rgba(138, 43, 226, 0.4)'],
          [1, 'rgba(138, 43, 226, 0)']
        ]
      };

      return {
        chart: {
          type: 'area',
          backgroundColor: backgroundColor,
          borderRadius: 20,
        },
        title: {
          text: title,
          style: { color: textColor, fontSize: '10px' }
        },
        xAxis: {
          labels: { style: { color: textColor, fontSize: '8px' } }
        },
        yAxis: {
          title: { text: yAxisTitle, style: { color: textColor, fontSize: '8px' } },
          labels: { style: { color: textColor, fontSize: '8px' } }
        },
        series: [{
          name: title,
          data: seriesData,
          color: purpleColor,
          fillColor: fillGradient
        }],
        plotOptions: {
          area: {
            marker: { enabled: false },
            lineWidth: 2,
            states: { hover: { lineWidth: 2 } },
            threshold: null
          }
        },
        legend: {
          itemStyle: { color: textColor, fontSize: '8px' }
        }
      };
    }

    function fetchAnalyticsData() {
      fetchSystemData();
    }

    document.addEventListener('DOMContentLoaded', () => {
      fetchAnalyticsData();
      document.documentElement.style.backgroundColor = getTheme() ? '#191c24' : '#ffffff';
    });
  </script>
</body>
</html>